@model Bus.Models.Entity.TblMarkalar
@{
    ViewBag.Title = "YeniMarkalarEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<form class="form-group" method="post">
    <div>
        <lable>Marka ADI</lable>
        @Html.TextBoxFor(m => m.MarkaAd, new { @class = "form-control" })

    </div>
    <div style="margin-top:20px">
        <button class="btn btn-info" id="btn1">Marka Adini Ekle</button>
    </div>
    <script>
        $('#btn1').click(function () {
            alert('Musteri Ekleme Islemi Yapildi...!');
        });
    </script>
</form>


